%section#main
  %ul#messages
    - if @page == 1
      %li.first
        %form#message{:action => "/", :method => "post"}
          %fieldset
            %textarea{:autofocus => "autofocus", :id => "text", :name => "text", :required => "required"}
            %button{:type => "submit"} Up-Chicken!

      - if @count > 0
        - @messages.each do |message|
          %li
            %time{:datetime => ""}
              = "#{message.person.first_name}, vor #{timesince(message.created_at)}"
            %div.message
              = auto_link(message.text)
            = "<img src=\"/users/#{message.person.first_name}.png\"/ alt=\"#{message.person.first_name}\" class=\"user_image\">"
    = paginator('/')

%section#right-wrapper
  %ul#visits
    - @visits.each do |visit|
      %li
        = timesince(visit.updated_at)
        = visit.person.first_name
  
